.search-section {
    position: relative;

    input {
        overflow: hidden;
        padding: 10px 10px;
        border-color: #e4e4e4;

        &:focus {
            box-shadow: none;
            border-color: $color-pink;
        }

        &::placeholder {
            color: #b1b1b1;
        }
    }

    .search-section-btn {
        position: absolute;
        top: 0;
        right: 6px;
        padding: 7px;
        border: none;
        background-color: white;
        height: 90%;
        margin-top: 1%;

        i {
            vertical-align: middle;
        }
    }
}

.btn-search {
    padding: 10px;
}

.bg-card-side {
    background-color: #FBF9FF !important;
}

.list-category {
    li {
        border-top: 1px solid #e2e2e2;
        // border-bottom: 1px solid #d1d1d1;
        padding: 13px 0px;

        a {
            color: black;
            text-decoration: none;
            @include transition(color 300ms , margin-left 300ms);

            &:hover {
                color: $color-pink;
                margin-left : 7px;
            }
        }
    }
}

.title-section-border {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.recent-post-link {
    color: black;
    text-decoration: none;
    @include transition(color 300ms);

    &:hover {
        color: $color-pink;
    }
}

.btn-tag {
    border: 1px solid #cfcfcf;
    color: #818181;
    border-radius: 0;
    padding: 5px 16px;
    font-size: .8rem;
    background-color: white;
    margin: 5px 4px !important;
    @include transition(all 300ms);

    &:hover {
        background-color: $color-purple;
        border-color: $color-purple;
        color: white;
    }
}

.my6-card {
    position: relative;
    overflow: hidden;

    img{
        border-radius: 0 !important;
    }

    .card-overlay-feed {
        position: absolute;
        background-color: #00000086;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        top: -20%;
        @include transition(top 300ms , opacity 300ms);

        i {
            font-size: 1.5rem;
            color: white;
        }
    }
}

.my6-card:hover .card-overlay-feed {
    top: 0;
    opacity: 1;
}

.my7-card{
    .my7-card-body{
        position: relative;
        .my7-card-body-date{
            position: absolute;
            top: -17%;
            display: inline-flex;
            flex-direction: column;
            padding: 10px 30px;
            background-color: $color-pink;
            border-radius: 10px;
        }

        .blog-post-title{
            color: black;
            text-decoration: none;
            @include transition(color 300ms);

            &:hover{
                color: $color-pink;
            }
        }

        .blog-post-footer-link{
            color: #afafaf;
            text-decoration: none;
            @include transition(color 300ms);
            &:hover{
                color: $color-pink;
            }
        }
    }
}

.pagination-link{
    color: black;
    text-decoration: none;
    background-color: #FBF9FF;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px !important;
    border: 1px solid #d4d4d4;

    &:hover{
        background-color: #f0eaff;
        color: black;
    }
}

.page-active{
    background-color: #f0eaff;
}

.page-disable{
    background-color: #e7e7e7;
    &:hover{
        background-color: #e7e7e7;
    }
}