.bg-box-red{
    background-image: url("../Images/red-box.png");
}
.bg-box-yellow{
    background-image: url("../Images/yellow-box.png");
}
.bg-box-blue{
    background-image: url("../Images/blue-box.png");
    
}

.time-box{
    height: 200px;
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
}