nav{
    .nav-link:not(.get-ticket){
        @include transition(color 300ms);
        &:hover{
            color: $color-pink !important;
        }
    }
    .active{
        color: $color-pink !important;
    }
}

.nav-drop{
    position: relative;
    .dropmenu-1{
        position: absolute;
        width: 230%;
        background-color: white;
        opacity: 0;
        top: 130%;
        visibility: hidden;
        @include transition(all 300ms);
    }
    .nav-item-drop{
        color: $color-purple;
        text-decoration: none;
        padding: 10px 0px 10px 10px;
        display: block;
        @include transition(background-color 300ms , color 300ms);
        &:hover{
            background-color: $color-purple;
            color: white;
        }
    }
}

.nav-drop a:hover+.dropmenu-1 ,
.dropmenu-1:hover{
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.dropmenu-2{
    position: absolute;
    width: 100%;
    background-color: white;
    top: 50%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    @include transition(all 300ms);
    
    .nav-item-drop-2{
        color: $color-purple;
        text-decoration: none;
        display: block;
        padding: 10px 0px 10px 10px;
        @include transition(all 300ms);
        &:hover{
            background-color: $color-purple;
            color: white;
        }
    }
}

.nav-drop-2 .nav-item-drop-hover:hover+.dropmenu-2,
.dropmenu-2:hover{
    opacity: 1;
    top: 33.5%;
    visibility: visible;
}

.get-ticket{
    border: 2px solid $color-purple !important;
    border-radius: 100px !important;
    color: $color-purple !important;
    font-weight: 300 !important;
    &:hover{
        background-color: $color-purple !important;
        color: white !important;
    }
}

.btn-menu{
    background-color: #e1e1e1;
    padding: 6px !important;
    border-radius: 50%;
    color: $color-pink !important;
    border: 1.5px solid $color-pink !important;
    @include transition(background-color 300ms);

    &:hover{
        background-color: $color-pink;
    }

    span{
        @include transition(color 300ms);
    }

    &:hover span{
        color: white !important;
    }

    &:focus{
        box-shadow: none;
    }
}