.box-container-text{
    width: 100%;
    background-color: #f3f5ff;
    padding: 30px;

    .card{
        border: 0;
        border-left: 3px solid $color-purple;
        padding: 30px;
    }

    p{
        font-style: italic;
    }
}

.font-icon{
    color: #979797;
    text-decoration: none;
    margin: 0 5px;
    @include transition(color 300ms);

    &:hover{
        color: $color-pink;
    }
}

.btn-like{
    border: 0;
    &:hover{
        color: $color-pink;
    }
}

.btn-comment{
    border: 0;
    &:hover{
        color: $color-pink;
    }
}