.box-container-text{
    width: 100%;
    background-color: #f3f5ff;
    padding: 30px;

    .card{
        border: 0;
        border-left: 3px solid $color-purple;
        padding: 30px;
    }

    p{
        font-style: italic;
    }
}

.font-icon{
    color: #979797;
    text-decoration: none;
    margin: 0 5px;
    @include transition(color 300ms);

    &:hover{
        color: $color-pink;
    }
}

.btn-like{
    border: 0;
    &:hover{
        color: $color-pink;
    }
}

.btn-comment{
    border: 0;
    &:hover{
        color: $color-pink;
    }
}

.btn-raply{
    text-decoration: none;
    font-size: 1.1rem;
    @include transition(color 300ms);

    &:hover{
        color: $color-pink !important;
    }
}

.my-textarea{
    height: 200px;
    background-color: transparent;

    &:focus{
        box-shadow: none;
        border: 1px solid $color-pink;
        background-color: transparent;
    }
}

.my-input{
    height: 55px;
    box-shadow: none;
    background-color: transparent;

    &:focus{
        box-shadow: none;
        border: 1px solid $color-pink;
        background-color: transparent;
    }
}

.btn-send{
    background-color: $color-purple;
    color: white;
    height: 50px;

    &:hover{
        color: white;
        background-color: $color-pink;
    }
}