$color-pink : #EA0763;
$color-purple : #3b1d82;

.text-purple{
    color: #3b1d82 !important;
}

.text-pink{
    color: #EA0763 !important;
}

.bg-purple{
    background-color: #3b1d82 !important;
}

.bg-pink{
    background-color: #EA0763 !important;
}