$color-pink : #EA0763;
$color-purple : #3b1d82;

.text-purple{
    color: #3b1d82 !important;
}

.text-pink{
    color: #EA0763 !important;
}

.bg-purple{
    background-color: #3b1d82 !important;
}

.bg-pink{
    background-color: #EA0763 !important;
}

.btn-pink{
    background-color: #EA0763 !important;
    color: white;

    &:focus{
        box-shadow: none;
    }

    &:active{
        box-shadow: none;
    }

    &:hover{
        color: white;
        background-color: #B8024C !important;
    }
}