@import "./font";
@import "./mixin";
@import "./variable";
@import "./navbar";
@import "./header";
@import "./Date";
@import "./features";
@import "./team";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}