@import "./font";
@import "./mixin";
@import "./variable";
@import "./navbar";
@import "./header";
@import "./Date";
@import "./features";
@import "./team";
@import "./program";
@import "./pircing";
@import "./sponser";
@import "./gallery";
@import "./Inner\ Blog";
@import "./footer";
@import "./about";
@import "./blog";
@import "./post";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #eee3ff !important;
}